<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="stylesheet" href="/styles/blogs.css">
</head>

<%- include('./partials/header.ejs') %>
<center><h2 class="home" style="background-color: rgba(255, 166, 0, 0.623);">BLOGS</h2></center>
<%- include('./partials/nav.ejs') %>
<body>
    <center>

  <div class="blog">

    <div class="one">
<h2>LEAF TECH WEB DEVELOPMENT</h2>
<p>FOUNDED ON 2013</p>

    </div>

    <div class="second">

<div class="img">
<img src="/img/web dev.jpg" alt="">
<h5>WEB DESIGNER</h5>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, consectetur quas velit dolores molestiae quibusdam est laborum vel? Quisquam amet praesentium libero deserunt suscipit enim earum distinctio nisi pariatur error facilis veritatis ratione eveniet, rem eligendi nobis quis facere dolorum id! Veniam quod odio, blanditiis voluptatem obcaecati placeat. Nostrum obcaecati dolores sed accusamus, minima hic doloribus beatae in repellat excepturi atque, possimus omnis. Aspernatur, consectetur omnis. Nostrum aperiam itaque suscipit accusamus soluta! Repellendus aut ea optio quam amet. Magni perspiciatis recusandae sunt rem doloremque odit facere esse voluptate dignissimos saepe. Minima laborum dolore doloribus numquam rem beatae aliquid, porro delectus.</p>

</div>
<div class="img">
    <img src="/img/mob app.jpg" alt="">
    <h5>ASP.NET DEVELOPER</h5>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, consectetur quas velit dolores molestiae quibusdam est laborum vel? Quisquam amet praesentium libero deserunt suscipit enim earum distinctio nisi pariatur error facilis veritatis ratione eveniet, rem eligendi nobis quis facere dolorum id! Veniam quod odio, blanditiis voluptatem obcaecati placeat. Nostrum obcaecati dolores sed accusamus, minima hic doloribus beatae in repellat excepturi atque, possimus omnis. Aspernatur, consectetur omnis. Nostrum aperiam itaque suscipit accusamus soluta! Repellendus aut ea optio quam amet. Magni perspiciatis recusandae sunt rem doloremque odit facere esse voluptate dignissimos saepe. Minima laborum dolore doloribus numquam rem beatae aliquid, porro delectus.</p>

    </div>
    <div class="img">
        <img src="/img/frontend.jpg" alt="">
        <h5>FRONTEND DEVELOPER</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, consectetur quas velit dolores molestiae quibusdam est laborum vel? Quisquam amet praesentium libero deserunt suscipit enim earum distinctio nisi pariatur error facilis veritatis ratione eveniet, rem eligendi nobis quis facere dolorum id! Veniam quod odio, blanditiis voluptatem obcaecati placeat. Nostrum obcaecati dolores sed accusamus, minima hic doloribus beatae in repellat excepturi atque, possimus omnis. Aspernatur, consectetur omnis. Nostrum aperiam itaque suscipit accusamus soluta! Repellendus aut ea optio quam amet. Magni perspiciatis recusandae sunt rem doloremque odit facere esse voluptate dignissimos saepe. Minima laborum dolore doloribus numquam rem beatae aliquid, porro delectus.</p>
        
        </div>
        <div class="img">
            <img src="/img/backend-is.png" alt="">
            <h5>BACKEND DEVELOPER</h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, consectetur quas velit dolores molestiae quibusdam est laborum vel? Quisquam amet praesentium libero deserunt suscipit enim earum distinctio nisi pariatur error facilis veritatis ratione eveniet, rem eligendi nobis quis facere dolorum id! Veniam quod odio, blanditiis voluptatem obcaecati placeat. Nostrum obcaecati dolores sed accusamus, minima hic doloribus beatae in repellat excepturi atque, possimus omnis. Aspernatur, consectetur omnis. Nostrum aperiam itaque suscipit accusamus soluta! Repellendus aut ea optio quam amet. Magni perspiciatis recusandae sunt rem doloremque odit facere esse voluptate dignissimos saepe. Minima laborum dolore doloribus numquam rem beatae aliquid, porro delectus.</p>

            </div>
            <div class="img">
                <img src="/img/ecomm.jpg" alt="">
                <h5>E-COMMERCE WEBSITES</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, consectetur quas velit dolores molestiae quibusdam est laborum vel? Quisquam amet praesentium libero deserunt suscipit enim earum distinctio nisi pariatur error facilis veritatis ratione eveniet, rem eligendi nobis quis facere dolorum id! Veniam quod odio, blanditiis voluptatem obcaecati placeat. Nostrum obcaecati dolores sed accusamus, minima hic doloribus beatae in repellat excepturi atque, possimus omnis. Aspernatur, consectetur omnis. Nostrum aperiam itaque suscipit accusamus soluta! Repellendus aut ea optio quam amet. Magni perspiciatis recusandae sunt rem doloremque odit facere esse voluptate dignissimos saepe. Minima laborum dolore doloribus numquam rem beatae aliquid, porro delectus.</p>

                </div>
                <div class="img">
                    <img src="/img/mob app.jpg" alt="">
                    <h5>MOBILE APP DEVELOPER</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, consectetur quas velit dolores molestiae quibusdam est laborum vel? Quisquam amet praesentium libero deserunt suscipit enim earum distinctio nisi pariatur error facilis veritatis ratione eveniet, rem eligendi nobis quis facere dolorum id! Veniam quod odio, blanditiis voluptatem obcaecati placeat. Nostrum obcaecati dolores sed accusamus, minima hic doloribus beatae in repellat excepturi atque, possimus omnis. Aspernatur, consectetur omnis. Nostrum aperiam itaque suscipit accusamus soluta! Repellendus aut ea optio quam amet. Magni perspiciatis recusandae sunt rem doloremque odit facere esse voluptate dignissimos saepe. Minima laborum dolore doloribus numquam rem beatae aliquid, porro delectus.</p>

                    </div>

    </div>



  </div>



    
</body>
<%- include("./partials/footer.ejs")  %>
</html>
