.img{
    display: flex;
justify-content: center;

}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.img img{
    width: 700px;
    height: 400px;
}
.con{
   
    
    width: 1000px;
    height: auto;
    background: linear-gradient(180deg, rgba(216, 186, 17, 0.603), rgba(206, 79, 29, 0.445));
border-radius: 30px;
gap: 10px;
padding: 20px;
margin-bottom: 40px;

}
